#gameWindow {
    position: absolute;
    left: 15vw;
    top: 15vh;
    /* -webkit-animation: slide 0.4s forwards;
    -webkit-animation-delay: 0s;
    animation: slide 0.4s forwards;
    animation-delay: 0s; */
    transition: .5s;
    width: auto;
    min-width: 1000px;
    height: auto;
  }

  /* @-webkit-keyframes slide {
    100% { left: 0; }
  }

  @keyframes slide {
    100% { left: 0; }
  } */

  /* #linkSprite{
    display: inline-block;
    height: 48px;
    width: 48px;
    background-image: url('./link_sheet.png');
    background-repeat: no-repeat;
    background-position: -48px 0px;
    position: absolute;
    left: 25vw;
    top: 15vh;
  } */

  #innerWindow{
    background-color: rgba(255, 255, 255, 0.555);
    height: 80vh;
    width: 80vw;
    display: block;
    margin: auto;
    top: 75vh; bottom: 0; left: -5vw; right: 0;
    position: absolute;
  }