/* #gameWindow {
    position: absolute;
    left: 15000vw;
    top: 15vh;
    -webkit-animation: slide 0.4s forwards;
    -webkit-animation-delay: 0s;
    animation: slide 0.4s forwards;
    animation-delay: 0s;
    transition: .5s;
    width: auto;
    min-width: 1000px;
    height: auto;
  }

  @-webkit-keyframes slide {
    100% { left: 0; }
  }

  @keyframes slide {
    100% { left: 0; }
  } */

  #gameWindow {
    position: absolute;
    left: 1500px;
    -webkit-animation: slide 0.4s forwards;
    -webkit-animation-delay: 0s;
    animation: slide 0.4s forwards;
    animation-delay: 0s;
    transition: .5s;
    width: auto;
    min-width: 1000px;
    height: auto;
    top: 15vh;
  }

  @-webkit-keyframes slide {
    100% { left: 0; }
  }

  @keyframes slide {
    100% { left: 0; }
  }

  /* #linkSprite{
    display: inline-block;
    height: 48px;
    width: 48px;
    background-image: url('./link_sheet.png');
    background-repeat: no-repeat;
    background-position: -48px 0px;
    position: absolute;
    left: 25vw;
    top: 15vh;
  } */

  #innerWindow{
    /* background-color: rgba(255, 255, 255, 0.555); */
    height: 70vh;
    width: 70vw;
    display: block;
    margin: auto;
    top: 55vh; bottom: 0; left: 14.8vw; right: 0;
    position: absolute;
    box-shadow: 1.2vw 3vw 9px 7px rgba(0, 0, 0, 0.39);
  }

  /* #gamePlay{
    width: 80vw;
    height: 80vh;
  } */

  #tryItHeader{
    text-align: center;
    font-size: 2.5vh;
    color: white;
    font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif;
    position: relative;
    top: 0vh;
    left: 0vw;
    font-weight: 700;
    z-index: 1;
    background-color: rgba(43, 58, 81, 0.60);
    width: auto;
    margin: auto;
  }

  #controlls{

    font-size: 2.5vh;
    color: white;
    font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif;
    position: relative;
    top: 0vh;
    left: 0vw;
    font-weight: 700;
    z-index: 1;
    background-color: rgba(43, 58, 81, 0.60);
    width: auto;
    margin: auto;
  }

  #gamePlay{
    height: 70vh;
    width: 70vw;
  }