#home {
  position: absolute;
  height: 100%;
  width: 100%;
  left: -11170px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 0s;
  animation: slide 0.5s forwards;
  animation-delay: 0s;
  transition: .5s;
  width:100%;
  min-width:1000px;
  height:100%;
  /* -webkit-animation-duration: 1s;
  animation-duration: 1s; */
}

@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}

#introBox {
    position: absolute;
    margin: auto;
    top: -35%; bottom: 0; left: 0; right: 0;
    transition: .5s;
    /* background-color: rgba(43, 58, 81, 0.842); */
    height: 25vh;
    width: 100%;
  }

  #introLine1 {
    font-size: 7vh;
    font-weight: 600;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: white;
    text-align: center;
  }

  #introLine2 {
    font-size: 7vh;
    font-weight: 600;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: white;
    text-align: center;
  }

  #checkWork {
    font-size: 3.2vh;
    font-weight: 600;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: white;
    text-align: center;
  }

  #particles{
    width:100%;
    min-width:1000px;
    height:auto;
    position: fixed;
  }

  #arrow{
    background-repeat: no-repeat;
    height: 5vh;
    width: 3vw;
    position: relative;
    transition: .5s;
    transform: rotate(90deg);
    opacity: .7;
    filter: brightness(0) invert(1);
  }
  #arrow:hover{
    transform: rotate(0deg);
    transition: .5s;
  }

  #bar{
    border: 3px solid white;
    height: .001px;
    width: 55vw;
    position: relative;
    left: 22.4vw;
  }

  #myInfo{
    display: flex;
    height: 10vh;
    width: 20vw;
    /* border: 1px solid white; */
    margin: auto;
    position: relative;
    left: -2vw;
  }

  #linkedin{
    top: 1vh;
    left: 2vw;
    margin: auto;
    position: relative;
    height: 5vh;
    width: auto;
    filter: brightness(0) invert(1);
    cursor: pointer;
    transition: .2s;
  }
  #linkedin:hover{
    height: 6vh;
    width: auto;
    transition: .2s;
  }

  #githubLogoHome{
    top: 1vh;
    left: 2vw;
    margin: auto;
    position: relative;
    height: 5vh;
    width: auto;
    filter: brightness(0) invert(1);
    cursor: pointer;
    transition: .2s;
  }
  #githubLogoHome:hover {
    height: 6vh;
    width: auto;
    transition: .2s;
  }

  #email{
    top: 1vh;
    left: 2vw;
    margin: auto;
    position: relative;
    height: 6vh;
    width: auto;
    filter: brightness(0) invert(1);
    cursor: pointer;
    transition: .2s;
  }
  #email:hover{
    height: 7vh;
    width: auto;
    transition: .2s;
  }